* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */

.navbar {
  display: flex;
  width: 100%;
  height: 8rem;
  background: #0f8b8d;
}

.navbar .logo img {
  height: 3.5rem;
  margin: auto 6rem;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar ul {
  /* position: absolute; */
  z-index: 10;
  /* width: 119px;
    height: 36px; */
  right: 28%;
  top: 54px;
  line-height: 36px;

  text-align: center;

  color: #f9fbfe;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar li {
  margin: 0 1.5rem;
  margin: 0 1.5rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.65rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.the-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 6rem;
}

/* CONTENT */

.content {
  padding: 10rem;
  display: flex;
  justify-content: space-between;
}

.content h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 2.7rem;
  line-height: 58px;
  /* identical to box height */

  color: #0f8b8d;
}

.content p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 29px;
  /* identical to box height */

  color: #143642;
}

.content .box h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.65rem;
  line-height: 36px;
  /* identical to box height */

  color: #143642;
}

.content .box p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 24px;
  padding-top: 1rem;

  color: #143642;
}

.content .box {
  /* position: absolute; */
  padding: 1rem 3rem;
  width: 26rem;
  height: 12.625rem;
  /* left: 138px;
  top: 372px; */

  background: #ffffff;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.content .boxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content img {
  width: 581.95px;
  height: 580.29px;
  border-radius: 20px;
  margin-top: 5.2rem;
}

/* FOOTER */

.footer {
  /* position: absolute; */
  width: 100%;
  height: 460px;
  left: 0px;
  top: 3377px;
  margin-top: 6rem;

  background: #143642;
  border-radius: 20px 20px 0 0;
}

.footer img {
  position: absolute;
  height: 3.5rem;
  margin: 5rem 6rem;
}

.mail {
  /* position: absolute;
  left: 9.58%;
  right: 87.64%;
  top: 92.65%;
  bottom: 6.52%; */

  color: #f9fbfe;
}

.phone {
  /* position: absolute;
  left: 14.24%;
  right: 83.54%;
  top: 92.65%;
  bottom: 6.52%; */
  margin-left: 0.8rem;
  color: #f9fbfe;
}

.contact {
  position: relative;
  width: fit-content;
  left: 6.3%;
  top: 35%;
}

.all-link ul {
  width: 119px;
  height: 36px;

  line-height: 36px;
  text-align: center;
  color: #f9fbfe;
  list-style: none;
  position: static;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.all-link li {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  width: 300px;
}

.all-link {
  display: flex;
  gap: 6rem;
  width: fit-content;
  margin-left: auto;
  margin-right: 20rem;
  margin-top: 1.7rem;
}

.products-link,
.store-link,
.contact-link {
  left: 44%;
}

.store-link {
  margin-left: 2.5rem;
}

.title-link {
  color: #ec9a29;
}

@media screen and (max-width: 767px) {
  .navbar .logo {
    padding: 1rem 2.5rem;
  }
  .navbar .logo img {
    height: 2rem;
    margin: 0;
  }
  .the-link {
    margin: 0;
  }
  .navbar ul {
    margin: auto;
  }
  .navbar li {
    font-size: 1rem;
  }
  .navbar {
    display: block;
  }
  .content {
    padding: 3rem;
    flex-direction: column-reverse;
  }
  .content .boxes {
    gap: 0.5rem;
    padding-top: 1.5rem;
  }
  .content img {
    margin-top: 0;
    width: 280px;
    height: 280px;
  }
  .content h1 {
    font-size: 1.3rem;
    line-height: normal;
  }
  .content p {
    font-size: 0.75em;
    line-height: normal;
  }
  .content .box {
    padding: 1.2rem;
    width: 280px;
    height: 111px;
    border-radius: 15px;
  }
  .content .box h2 {
    font-size: 1rem;
    line-height: 20px;
  }
  .content .box p {
    font-size: 0.75em;
    line-height: 14px;
    padding-top: 1rem;
  }
  .footer {
    /* position: absolute; */
    width: 100%;
    height: 20rem;
    left: 0px;
    top: 12rem;
    background: #143642;
    border-radius: 20px 20px 0 0;
    margin-top: 0;
  }
  .footer img {
    height: 2rem;
    margin: 1.5rem 2.5rem;
  }
  .contact {
    left: 67%;
    top: 4%;
  }
  .all-link {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: fit-content;
    margin-left: auto;
    margin-right: 13rem;
    /* margin-top: 0; */
  }
  .all-link ul {
    /* width: 103px; */
    height: 36px;
    line-height: 14px;
    text-align: center;
    color: #f9fbfe;
    list-style: none;
    position: static;
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 0;
  }
  .all-link li {
    font-family: "Lato", sans-serif;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    padding-bottom: 0;
    width: 118px;
  }
  .store-link {
    margin-left: 0;
  }
  .all-link li:nth-child(2),
  .all-link li:nth-child(3),
  .all-link li:nth-child(4) {
    padding-left: 2rem;
  }
  .all-link li:nth-child(1) {
    font-size: 0.9rem;
  }
  .store-link li:nth-child(1) {
    margin-top: 1.3rem;
  }
}
